<form method="POST" action="/register" >
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password1" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <label for="Re-Password">Re-Enter Password</label>
    <input type="password2" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Register</button>
</form>